---
layout: default
title: P_Chou Tech Space
---

<div class='container'>
	<div class="row">
		{% for cat in site.categories %}
			<a name='{{ cat[0] }}'></a>
			<div style='height:65px;'></div>
			<div class="col-lg-12">
				<div class="panel panel-danger">
		            <div class="panel-heading">
		              <h3 class="panel-title">{{ cat[0] }}</h3>
		            </div>
		            <div class="list-group">
		            	{% for post in cat[1] %}
		               		<a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">{{ post.title }}</a>
		               	{% endfor %}
		            </div>
	          </div>
		  </div>
		{% endfor %}
	</div>
</div>