.right-container {
  .post {
    padding: 30px 50px;

    description{
      color: $body-color;
      margin: 20px 0px 50px 0px;
      display: block;
    }

    h1 {
      margin: 0px;
      padding: 20px 0px 20px 5px;
      -border-bottom: 2px solid #555;
      float: left;
    }

    .date {
      float: right;
      margin-top:30px;
    }

    category {
      display: inline-block;
      padding: 5px 10px;
      margin-right: 5px;
      background-color: $category-tag-bg-color;
      color:$right-background-color;
      cursor: pointer;
      &:hover,&:focus{
        background-color: lighten($category-tag-bg-color,10%);
      }
    }
  }
}





#_52de149d84a8f pre code {
  -font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace !important;
  background-color: #262626;
  display: block;
  color: #ebefe7;
  padding: 0.5em;
}
#_52de149d84a8f pre code .string,
#_52de149d84a8f pre code .regexp {
  color: #3d575c;
}
#_52de149d84a8f pre code .comment {
  color: rgba(255, 255, 255, 0.5);
}
#_52de149d84a8f pre code .number {
  color: #ae81ff;
}
#_52de149d84a8f pre code .class,
#_52de149d84a8f pre code .special,
#_52de149d84a8f pre code .mixin {
  color: #a6e22e;
}


#_52de149d84a8f pre code .attribute,
#_52de149d84a8f pre code .keyword {
  color: #66d9ef;
}
#_52de149d84a8f pre code .variable {
  color: #fff;
}
#_52de149d84a8f pre code .element {
  color: #669991;
}

#_52de149d84a8f pre code .id {
  color: #c2b470;
  font-weight: normal;
}
#_52de149d84a8f pre .color {
  color: #b35e4d;
}
#_52de149d84a8f pre #time {
  color: #aaaaaa;
}

.pointer{
  cursor: pointer;
}