$body-background-color : #333;
$body-color : #aaa;
$right-background-color : #eee;
$right-color : #333;
$category-tag-bg-color: #D55400;
$screen-sm-min: 768px;


body {
	background-color: $body-background-color;
	color: $body-color;
	margin:0px;
	font-family: 'Microsoft YaHei';
}

.clear {
	clear:both;
}

.left-container {
	float:left;
	width:35%;
	.mini-collapse {
		display: none;
	}
	& > div {
		color:$body-color;
		padding:0px 50px;
		.navigator{
			font-family: 'iconfont';
			text-align: center;
			a {
				padding: 10px;
				display: inline-block;
				border-radius: 50% 50% 50% 50%;
				color:$body-color;
				border : 1px solid #000;
				box-shadow: inset 0 1px 10px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.1),0 -1px 0 rgba(0,0,0,.5);
				text-decoration: none;
				&:focus,&:hover{
					color: lighten($body-color,50%);
				}
			}
		}

		.logo {
			text-align: center;
			padding : 20px 0px;

		}

		.category {
			&:before{
				content: "分类";
				display: block;
				font-weight: bold;
				color: #fff;
			}
			padding : 20px 0px;
			ul {
				list-style: none;
				margin: 0;
				-webkit-padding-start: 0px;
				li {
					border-bottom: 1px solid $body-color;
					height: 50px;
					color: $body-color;
					a{
						display: block;
						line-height: 50px;
						text-decoration: none;
						color: $body-color;
						width: 100%;

						&:hover,&:focus{
							color: #fff;
							span {
								border: 1px solid #fff;
							}
						}

						span {
							display: inline-block;
							float: right;
							border: 1px solid $body-color;
							border-radius: 15px 15px 15px 15px;
							padding: 0px 8px;
							line-height: 20px;
							margin-top:15px;
						}
					}
					
				}
			}
		}

		.tags {
			&:before{
				content: "标签云";
				display: block;
				font-weight: bold;
				color: #fff;
			}
			padding : 20px 0px;
			a {
				color:$body-color;
				display:inline;
				vertical-align: bottom;
				border:none;
				box-shadow:none;
				&:focus,&:hover{
					text-decoration: underline;
					color: lighten($body-color,50%);
				}
			}

		}

		.foot{
			text-align: center;
			padding : 20px 0px;
			a {
				color:$body-color;
				text-decoration: none;
				&:focus,&:hover{
					color: lighten($body-color,50%);
				}
			}
		}
	}
}

.right-container {
	float:left;
	width:63%;
	background-color: $right-background-color;
	color: $right-color;

	.post-list {

		.post-item {

			&:nth-child(odd) {
				box-shadow: inset 0 1px 10px rgba(163, 159, 159, 0.3), 0 1px 0 rgba(107, 107, 107, 0.1), 0 -1px 0px rgba(131, 131, 131, 0.5);
			}

			& > div {
				padding: 20px 0px;
				width:70%;
				margin: 0 auto;

				h1 {
					a {
						color: $right-color;
					}
				}

				p {
					width : 70%;
					vertical-align: top;
				}

				img {
					width: 15%;
					vertical-align: top;
				}

				.inline-block {
					display: inline-block;
					margin-right: 20px;
				}


				category {
					display: inline-block;
					padding: 5px 10px;
					margin-right: 5px;
					background-color: $category-tag-bg-color;
					color:$right-background-color;
					cursor: pointer;
					&:hover,&:focus{
						background-color: lighten($category-tag-bg-color,10%);
					}
				}


				

				.readmore {
					font-size: 125%;
					display: block;
					margin-top: 15px;
					text-decoration: none;
					color: $category-tag-bg-color;
					&:hover,&:focus{
						color:  lighten($category-tag-bg-color,10%);
					}
				}
			}

			
		}

	}

}


@media (max-width: $screen-sm-min) { 

	.left-container {
		float:left;
		width:100%;
		position:relative;
		& > div {
			overflow: hidden;
			height: auto;
		}

		.mini-collapse {
			position:relative;
			display: block;
			h3 {
				float: left;
			}
			a {
				font-family: 'iconfont';
				float: right;
				display: block;
				font-size: 30px;
				color: $body-color;
				text-decoration: none;
				padding:15px;
			}
			a.active{
				background-color: darken($body-background-color,50%);
				color: lighten($body-color,50%);
			}
		}

		.collapse {
			display: none;
		}
	}

	.right-container {
		float:left;
		width:100%;
		height: auto;
		overflow: hidden;
	}

}