.cbp_tmtimeline {
	padding: 0;
	list-style: none;
	position: relative;

	/* The line */
	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 10px;
		background: $timeline-color;
		left: $timeline-left ;
		margin-left: -10px;
	}
} 


/* The date/time */
.cbp_tmtimeline > li {
	position: relative;
	padding-top: $timeline-top-base-padding;

	.cbp_tmtime {
		display: block;
		width: 20%;
		padding-right: 100px;
		position: absolute;
		span {
			display: block;
			text-align: right;
			&:first-child {
				font-size: $timeline-year-size;
				color: $timeline-year-color;
			}
			&:last-child {
				font-size: $timeline-date-size;
				color: $timeline-date-color;
			}
		}
	}

	&:nth-child(odd){
		.cbp_tmtime {
			span {
				&:last-child {
					color: #79BD8F;
				}
			}
		}
		.cbp_tmlabel {
			background: #79BD8F;
			&:after {
				border-right-color: #79BD8F;
			}
		}
	}

	/* Right content */
	.cbp_tmlabel {
		margin: 0 0 15px $timeline-label-left;
		background: #00A388;
		color: #fff;
		padding: 2em;
		font-size: 1.2em;
		font-weight: 300;
		line-height: 1.4;
		position: relative;
		h2 { 
			margin-top: 0px;
			padding: 0 0 10px 0;
			border-bottom: 1px solid rgba(255,255,255,0.4);
		}
		/* The triangle */
		&:after {
			right: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-right-color: #00A388;
			border-width: 10px;
			top: 10px;
		}
	}

	
	/* The icons */
	.cbp_tmicon {
		width: $timeline-icon-width;
		height: $timeline-icon-width;
		position: absolute;
		background: $body-background-color;
		border-radius: 50%;
		box-shadow: 0 0 0 8px $timeline-color;
		left: $timeline-left;
		top: $timeline-top-base-icon-padding;
		margin: 0 0 0 -17px;
	}

	/* thumb img */
	img {
		height: 150px;
		position: absolute;
		right: 10px;
		top: 0;
	}
}


/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {

	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li {

		padding-top:0px;

		.cbp_tmtime {
			width: 100%;
			position: relative;
			padding: 0 0 20px 0;
		}

		.cbp_tmtime span {
			text-align: left;
			display: inline;
		}

		.cbp_tmlabel {
			margin: 0 0 30px 0;
			padding: 1em;
			font-weight: 400;
			font-size: 95%;
		}

		.cbp_tmlabel:after {
			right: auto;
			left: 20px;
			border-right-color: transparent;
			border-bottom-color: #00A388;
			top: -20px;
		}

		&:nth-child(odd) .cbp_tmlabel:after {
			border-right-color: transparent;
			border-bottom-color: #79BD8F;
		}

		.cbp_tmicon {
			display: none;
		}	

		img {
			height: 60px;
			position: absolute;
			right: 0px;
			top: 0px;
		}
	}
}