@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1394176362_4908102.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1394176362_4908102.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1394176362_5235853.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1394176362_4624262.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1394176362_5612473.svg#iconfont') format('svg'); /* iOS 4.1- */
}

body {
    font-family: 'Microsoft YaHei','Lato', Calibri, Arial, sans-serif;
    color: $body-front-color;
    background-color: $body-background-color;
}

p {
	line-height: 1.8em;
	text-indent: 2em;
}

a {
	color: #428bca;
	text-decoration: none;
}

a:hover {
	color: #2a6496;
	text-decoration: underline;
}

code, pre {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

pre,pre code{
	white-space: pre-wrap;
}

code {
	padding: 2px 5px;
	font-size: 90%;
	color: #ff6138;
	white-space: nowrap;
	background-color: #FFFF9D;
	font-weight: bold;
}

blockquote {
	background-color: #00A388;
	border: 1px solid #00705d;
	padding: 1em;
	color: #fff;
	line-height: 1.8em;
	a {
		color:#FFFF9D;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
	background-color: transparent;
}

small {
	font-size: 85%;
}

.iconfont{font-family:"iconfont";font-size:16px;font-style:normal;}

.main,
.container > header {
	@include container_width();
}

.container > header {
	padding: 2.875em 1.875em 1.875em;

	h1 {
		font-size: $title-h1-size;
		margin: 0 0 0.6em 0;
		float: left;
		font-weight: $title-h1-weight;
		font-family: 'Russo One', sans-serif;
		color: $title-h1-color;
	}
	
	nav {
		float: right;
		text-align: center;

		a {
			display: inline-block;
			position: relative;
			text-align: center;
			vertical-align: middle;
			width: 2.5em;
			height: 2.5em;
			margin: 0 0.1em;
			text-decoration: none;
			&:hover > i {
				color: $title-icon-hover-color;
			}
		}

		a > i {
			font-size: $title-icon-size;
			color: $title-icon-color;
		}
	}

}


foot {
	display: block;
	background-color: #333;
	color: #fff;
	padding: 1em;
}

#qcode:hover .gewm {
	display: block;
}

.gewm {
	display: none;
	background-color: #fff;
	position: absolute;
	top: 40px;
	right: 12px;
	width: 165px;
	height: 165px;
	border: 3px solid #FF6138;
	z-index: 10009;
	padding: 5px;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}


@media screen and (max-width: 55em) {

	.main,
	.container > header, .container title {
		width: 100%;
	}

	#qcode {
		display: none;
	}

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
}