
.clearfix {
	@include clearfix;
}

.iconfont {
	font-family : 'iconfont';
}


.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}


#gotop{
  display:none;
  position:fixed;
  right:30px;
  bottom:50px;
  font-family:'iconfont';  
  font-size: 50px;
  color: $category-tag-bg-color;
  cursor: pointer; 
}

.left-container {
	float:left;
	width:35%;
	.mini-collapse {
		display: none;
		width: 90%;
	}

	& > div {
		margin: 0 auto;
		width: 75%;

		.center {
			text-align: center;
		}

		.left-item {
			margin: 30px 0px;
		}

		.navigator{
			font-family: 'iconfont';
			a {
				padding: 10px;
				display: inline-block;
				border-radius: 50% 50% 50% 50%;
				color: $body-color;
				border : 1px solid #000;
				box-shadow: inset 0 1px 10px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.1),0 -1px 0 rgba(0,0,0,.5);
				text-decoration: none;
				@include hover-lighten;
			}
		}

		.category {
			&:before{
				content: "分类";
				@include left-title;
			}
			ul {
				list-style: none;
				margin: 0;
				-webkit-padding-start: 0px;
				li {
					border-bottom: 1px solid $body-color;
					height: $category-li-height;
					a{
						display: block;
						line-height:  $category-li-height;
						text-decoration: none;
						color: $body-color;
						width: 100%;

						&:hover,&:focus{
							color: #fff;
							span {
								border: 1px solid #fff;
							}
						}

						span {
							display: inline-block;
							float: right;
							border: 1px solid $body-color;
							border-radius: 15px 15px 15px 15px;
							padding: 0px 8px;
							line-height: 20px;
							margin-top: ($category-li-height - 20)/2;
						}
					}
					
				}
			}
		}

		.tags {
			&:before{
				content: "标签云";
				@include left-title;
			}
			line-height: 1.5;
			a {
				color:$body-color;
				display:inline;
				text-decoration: none;
				&:focus,&:hover{
					color: lighten($body-color,50%);
					text-decoration: underline;
				}
			}

		}

		.foot{
			a {
				color:$body-color;
				text-decoration: none;
				@include hover-lighten;
			}
		}
	}
}

.right-container {
	float:left;
	width:63%;
	background-color: $right-background-color;
	color: $right-color;

	a {
		color: #428BCA;
		text-decoration: none;
		&:hover,&:focus{
			color: #2A6496;
			text-decoration: underline;
		}
	}
	
	.qrcode{
		display: block;
		text-align: center;
		&:before{
			content: "扫一扫,手机阅读";
			display: block;
			padding: 8px;
		}
	}

	.post-item {

		&:nth-child(odd) {
			box-shadow: inset 0 1px 10px rgba(163, 159, 159, 0.3), 0 1px 0 rgba(107, 107, 107, 0.1), 0 -1px 0px rgba(131, 131, 131, 0.5);
		}

		& > div {
			margin: 0 auto;
			width: 70%;
			padding : 20px 0px;
			& > div {
				margin-top: 10px;
				.date {
					color: $category-tag-bg-color;
					margin-right: 5px;
				}
			}
		}


		h1 {
			margin: 0px 0px 20px 0px;
			a {
				color: $right-color;
				text-decoration: none;
			}
		}

		.description {
			p {
				width: 80%;
				display: inline-block;
				vertical-align: top;
				color: $body-color;
				margin-right: 20px;
				line-height: 2;
			}

			img{
				display: inline-block;
				width : 12%;
				vertical-align: top;
			}
		}

		category {
			@include tag($category-tag-bg-color);
		}

		tag {
			@include tag;
		}
	}

	.post {
		margin-bottom : 20px;

		p{
			line-height: 1.5;
		}
		h1,h2,h3,h4,h5 {
			padding-left : 20px;
			border-left : 5px solid $category-tag-bg-color;
		}
		blockquote {
			border-left: 5px solid $tag-bg-color;
			color: #555;
			font-size: 1em;
			p {
				margin: 0px 20px;
				line-height: 2;
			}
		}
	}

}


@media (max-width: $screen-sm-min) { 

	.left-container {
		float:left;
		width:100%;
		.mini-collapse {
			display: block;
			h3 {
				float: left;
			}
			a {
				font-family: 'iconfont';
				float: right;
				display: block;
				font-size: 30px;
				color: $body-color;
				text-decoration: none;
				padding:15px;
				&.active{
					background-color: darken($body-background-color,50%);
					color: lighten($body-color,50%);
				}
			}
		}

		.collapse {
			display: none;
		}
	}

	.right-container {
		float:left;
		width:100%;

		.qrcode{
			display: none;
		}
	}

}