/* General styles for all menus */
.cbp-spmenu {
	background: #4f4f4f;
	position: fixed;
	overflow-y: scroll ;
}

.cbp-spmenu h3 {
	color: #fff;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #FF6138;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 250px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #222;
	padding: 1em;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -250px;
}

.cbp-spmenu-right {
	right: -250px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 47.2em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 150px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -150px;
	}

	.cbp-spmenu-right {
		right: -150px;
	}

	.cbp-spmenu-push-toright {
		left: 150px;
	}
}