@mixin cross_browser_css($vert,$value) {
	#{$vert} : $value;
	-moz-#{$vert}: $value;
	-webkit-#{$vert}: $value;
}

/* mixin */
@mixin clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin left-title {
	display: block;
	font-weight: bold;
	color: #fff;
}

@mixin hover-lighten {
	&:focus,&:hover{
		color: lighten($body-color,50%);
	}
}

@mixin tag($bc: $tag-bg-color, $fc: $right-background-color) {
	display: inline-block;
	padding: 2px 7px;
	margin-right: 5px;
	background-color: $bc;
	a { 
		color: $fc; 
		text-decoration: none;
	}
	cursor: pointer;
	&:hover,&:focus{
		background-color: lighten($bc,10%);
	}
}