*, *:after, *:before { @include cross_browser_css(box-sizing,border-box); }
body {
	background-color: $body-background-color;
	color: $body-color;
	margin:0px;
	font-family: 'Microsoft YaHei';
}

code, pre {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

code {
	padding: 2px 4px;
	font-size: 90%;
	color: #C7254E;
	background-color: #F9F2F4;
	border-radius: 4px;
}

pre {
	word-break: break-all;
	word-wrap: break-word;
}

blockquote {
	margin: 20px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1395307880_4954178.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1395307880_4954178.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1395307880_9161122.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1395307880_4053228.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1395307880_9707928.svg#iconfont') format('svg'); /* iOS 4.1- */
}