$body-background-color : #333;
$body-color : #aaa;
$right-background-color : #eee;
$right-color : #333;
$category-tag-bg-color: #D55400;
$tag-bg-color: #23add6;
$screen-sm-min: 768px;


$category-li-height: 40px;
