$body-front-color : #FF6138;
$body-background-color : #eee;
$default-main-width : 69em;

$title-h1-size : 2.5em;
$title-h1-weight : 400;
$title-h1-color : #FF6138;

$title-icon-size : 32px;
$title-icon-color : #FF6138;
$title-icon-hover-color : lighten(#FF6138,20%);


$timeline-top-base-padding: 50px;
$timeline-top-base-icon-padding: 58px;
$timeline-color : #4B4B4B;
$timeline-left : 15%;
$timeline-icon-width : 24px;
$timeline-label-left : $timeline-left+4%;
$timeline-year-color : #A7A7A7;
$timeline-year-size : 0.9em;
$timeline-date-color : #00A388;
$timeline-date-size : 2em;
