---
layout: postlayout
title: linuxcast视频资源汇总
description: linxucast是个免费的linux在线视频教学网站，深入浅出，相当不错，但是有的时候网站会说浏览器版本低不能访问（但事实上浏览器没问题）。于是简单对网站的视频地址爬了一把，罗列在此。
thumbimg: linuxslide.jpg
categories: [resource]
tags: [Linux]
---
{% include post.container.begin %}

以下链接格式为：源地址+视频地址
<h3>基础知识部分</h3>
http://www.linuxcast.net/Users/class_detail/11
<a href='http://125.76.230.133/mp4/2-GNOME_Basic.mp4'>Linux - Linux基本操作 - GNOME图形界面基本操作 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/12
<a href='http://125.76.230.133/mp4/3-BASH_Basic.mp4'>Linux - Linux基本操作 - 命令行BASH的基本操作 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/13
<a href='http://125.76.230.133/mp4/4-FileSys_Arch.mp4'>Linux - Linux基本操作 - Linux文件系统基本结构 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/14
<a href='http://125.76.230.133/mp4/5-File_Manage.mp4'>Linux - Linux基本操作 - Linux文件基本操作管理 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/15
<a href='http://125.76.230.133/mp4/6-Linux_Sys_Dir.mp4'>Linux - Linux基本操作 - Linux系统目录架构 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/16
<a href='http://125.76.230.133/mp4/7-DiskBasic.mp4'>Linux - Linux磁盘及文件系统管理 - 磁盘基本概念 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/17
<a href='http://125.76.230.133/mp4/8-FDISK.mp4'>Linux - Linux磁盘及文件系统管理 - 使用fdisk进行磁盘管理 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/18
<a href='http://125.76.230.133/mp4/9-FileSystem.mp4'>Linux - Linux磁盘及文件系统管理 - Linux文件系统 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/19
<a href='http://125.76.230.133/mp4/10-mount.mp4'>Linux - Linux磁盘及文件系统管理 - Linux文件系统挂载管理 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/20
<a href='http://125.76.230.133/mp4/17-help.mp4'>Linux - Linux下获取帮助 - Linux下获取帮助 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/21
<a href='http://125.76.230.133/mp4/18-user_basic.mp4'>Linux - 用户及权限基础 - Linux用户基础 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/22
<a href='http://125.76.230.133/mp4/19-permission.mp4'>Linux - 用户及权限基础 - Linux权限机制 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/23
<a href='http://125.76.230.133/mp4/20-permission-ext.mp4'>Linux - 用户及权限基础 - Linux扩展权限 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/24
<a href='http://125.76.230.133/mp4/21-network_basic.mp4'>Linux - Linux网络基本配置 - 网络基础 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/25
<a href='http://125.76.230.133/mp4/22-network_config.mp4'>Linux - Linux网络基本配置 - Linux网络基础配置 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/26
<a href='http://125.76.230.133/mp4/23-basic_command.mp4'>Linux - Linux基本操作 - Linux系统常用命令 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/27
<a href='http://125.76.230.133/mp4/24-pipe_io.mp4'>Linux - Linux管道、重定向及文本处理 - Linux多命令协作：管道及重定向 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/28
<a href='http://125.76.230.133/mp4/26-Text_process.mp4'>Linux - Linux管道、重定向及文本处理 - Linux命令行文本处理工具 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/29
<a href='http://125.76.230.133/mp4/25-vi.mp4'>Linux - Linux基本操作 - Vi文本编辑器 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/30
<a href='http://125.76.230.133/mp4/29-System_Boot.mp4'>Linux - Linux系统启动详解 - Linux系统启动详解 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/31
<a href='http://125.76.230.133/mp4/11-LVM_Basic.mp4'>Linux - 磁盘管理：LVM逻辑卷 - LVM逻辑卷基本概念 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/32
<a href='http://125.76.230.133/mp4/12-LVM_Create.mov.mp4'>Linux - 磁盘管理：LVM逻辑卷 - LVM逻辑卷的基本管理操作 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/33
<a href='http://125.76.230.133/mp4/13-LVM_reduce_extend.mp4'>Linux - 磁盘管理：LVM逻辑卷 - LVM逻辑卷的拉伸与缩小 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/34
<a href='http://125.76.230.133/mp4/28-ACL.mp4'>Linux - Linux高级权限 - ACL - Linux高级权限管理 - ACL - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/35
<a href='http://125.76.230.133/mp4/35-raid_basic.mov.mp4'>Linux - 使用RAID提升磁盘速度及冗余性 - RAID原理基础 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/36
<a href='http://125.76.230.133/mp4/36-raid_config.mov.mp4'>Linux - 使用RAID提升磁盘速度及冗余性 - 软件RAID配置 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/37
<a href='http://125.76.230.133/mp4/37-network_hw.mov.mp4'>Linux - 高级网络 - 网卡绑定、子接口 - Linux网卡绑定、子接口 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/38
<a href='http://125.76.230.133/mp4/39-SELinux.mov.mp4'>Linux - SELinux安全系统基础 - SELinux基础 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/39
<a href='http://125.76.230.133/mp4/32-Software_rpm.mp4'>Linux - Linux软件管理基础：RPM、YUM - RPM软件包管理 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/40
<a href='http://125.76.230.133/mp4/33-Software_yum.mp4'>Linux - Linux软件管理基础：RPM、YUM - YUM软件管理 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/41
<a href='http://125.76.230.133/mp4/40-IPtables_basic.mov.mp4'>Linux - IPTables防火墙基础 - netfilter及iptables基本概念 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/42
<a href='http://125.76.230.133/mp4/41-iptables_config.mov.mp4'>Linux - IPTables防火墙基础 - iptables配置管理 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/43
<a href='http://125.76.230.133/mp4/31-Remote_manage.mp4'>Linux - Linux远程管理 - SSH、VNC - Linux远程管理 - SSH、VNC - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/44
<a href='http://125.76.230.133/mp4/38-rsyslog.mov.mp4'>Linux - rSyslog日志服务 - 日志基本概念及rSyslog服务配置 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/45
<a href='http://125.76.230.133/mp4/42-DNS_Basic.mov.mp4'>Linux - DNS域名服务 - DNS基础及域名系统架构 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/46
<a href='http://125.76.230.133/mp4/43-DNS_config.mov.mp4'>Linux - DNS域名服务 - BIND服务基础及域主服务器配置 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/47
<a href='http://125.76.230.133/mp4/44-DNS_config_2.mov.mp4'>Linux - DNS域名服务 - BIND从服务器及缓存服务器配置 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/48
<a href='http://125.76.230.133/mp4/45-FTP.mov.mp4'>Linux - FTP共享服务 - FTP服务原理及vsftpd服务配置 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/49
<a href='http://125.76.230.133/mp4/46-NFS.mov.mp4'>Linux - NFS共享服务 - NFS文件共享基础及配置 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/50
<a href='http://125.76.230.133/mp4/47-SMB.mov.mp4'>Linux - SMB共享服务 - SMB文件共享原理及配置 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/51
<a href='http://125.76.230.133/mp4/48-WebServiceBasic.mov.mp4'>Linux - Web服务 - Apache - Web服务原理、HTTP协议 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/52
<a href='http://125.76.230.133/mp4/49-Apache_config_1.mov.mp4'>Linux - Web服务 - Apache - apache服务基础配置 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/53
<a href='http://125.76.230.133/mp4/51-Apache_VirtualHost.mov.mp4 '>Linux - Web服务 - Apache - apache服务配置 - 虚拟主机 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/54
<a href='http://125.76.230.133/mp4/50-Apache_auth.mov.mp4'>Linux - Web服务 - Apache - apache服务配置 - HTTP认证 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/55
<a href='http://125.76.230.133/mp4/52-Mail_Basic.mov.mp4'>Linux - 电子邮件服务 - 邮件服务原理及架构 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/56
<a href='http://125.76.230.133/mp4/53-Postfix_config.mov.mp4'>Linux - 电子邮件服务 - postfix邮件服务基础配置 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/57
<a href='http://125.76.230.133/mp4/30-Service_Basic.mp4'>Linux - Linux服务基础及服务管理 - Linux系统服务基础 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/Users/class_detail/58
<a href='http://125.76.230.133/mp4/1-linux_install.mp4'>Linux - Linux安装 - Linux系统安装 - www.LinuxCast.net</a><br/>



<h3>播客</h3>
http://www.linuxcast.net/public/cast_show/1
<a href='http://125.76.230.133/cast/mp4/ab.mp4'>Linux - 使用ab对Web服务进行压力测试 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/2
<a href='http://125.76.230.133/cast/mp4/cloc.mp4'>Linux - 使用cloc进行代码统计 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/3
<a href='http://125.76.230.133/cast/mp4/httperf.mp4'>Linux - 使用httperf对Web服务进行压力测试 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/4
<a href='http://125.76.230.133/cast/mp4/netstat.mp4'>Linux - 监控Linux系统当前监听使用的端口 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/5
<a href='http://125.76.230.133/cast/mp4/nginx.mp4'>Linux - 使用Nginx高性能Web服务器 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/6
<a href='http://125.76.230.133/cast/mp4/iotop.mp4'>Linux - 使用iotop实时监控系统磁盘IO - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/7
<a href='http://125.76.230.133/cast/mp4/rails_on_linux.mp4'>Linux - 在Linux下搭建Ruby on Rails环境 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/8
<a href='http://125.76.230.133/cast/mp4/cpu_info.mp4'>Linux - 如何Linux下查看CPU信息 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/9
<a href='http://125.76.230.133/cast/mp4/disk_io_basic.mp4'>Linux - Linux硬盘性能检测 - 基础 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/10
<a href='http://125.76.230.133/cast/mp4/disk_io_pro.mp4'>Linux - Linux硬盘性能检测 - 高级 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/11
<a href='http://125.76.230.133/cast/mp4/htop.mp4'>Linux - Linux进程实时监控 - htop - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/12
<a href='http://125.76.230.133/cast/mp4/wireshark_intro.mp4'>Linux - wireshark - Linux网络流量监控分析 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/13
<a href='http://125.76.230.133/cast/mp4/iptraf.mp4'>Linux - IPTraf - 命令行网络实时监控 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/14
<a href='http://125.76.230.133/cast/mp4/ffmpeg_intro.mp4'>Linux - FFmpeg开源视频格式转换软件 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/15
<a href='http://125.76.230.133/cast/mp4/15-netstat_new.mp4'>Linux - 使用netstat监控网络连接信息 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/16
<a href='http://125.76.230.133/cast/mp4/wireshark_static.mp4'>Linux - wireshark对流量的分类统计 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/17
<a href='http://125.76.230.133/cast/mp4/wireshark_iographs.mp4'>Linux - wireshark网络流量的图形化显示 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/18
<a href='http://125.76.230.133/cast/mp4/ntfs.mp4'>Linux - Linux下挂载使用NTFS文件系统 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/19
<a href='http://125.76.230.133/cast/mp4/winff.mp4'>Linux - WinFF - FFmpeg图形化界面工具 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/20
<a href='http://125.76.230.133/cast/mp4/md5_sha.mp4'>Linux - Linux下计算文件的MD5、SHA校验值 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/21
<a href='http://125.76.230.133/cast/mp4/tcpdump_intro.mp4'>Linux - Tcpdump命令行网络抓包工具 - 介绍 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/22
<a href='http://125.76.230.133/cast/mp4/tcpdump_para.mp4'>Linux - Tcpdump命令行网络抓包工具 - 常用参数 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/23
<a href='http://125.76.230.133/cast/mp4/tcpdump_logic.mp4'>Linux - Tcpdump命令行网络抓包工具 - 数据包内容及参数逻辑组合 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/24
<a href='http://125.76.230.133/cast/mp4/nethogs.mp4'>Linux - nethogs实时监控特定进程占用的网络流量信息 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/25
<a href='http://125.76.230.133/cast/mp4/agedu.mp4'>Linux - agedu分析Linux磁盘使用空间信息 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/26
<a href='http://125.76.230.133/cast/mp4/dstat.mp4'>Linux - dstat综合Linux系统监控软件 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/27
<a href='http://125.76.230.133/cast/mp4/html2pdf.mp4'>Linux - Linux下将HTML转换为PDF格式的文件 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/28
<a href='http://125.76.230.133/cast/mp4/optipng.mp4'>Linux - optipng压缩PNG图片大小 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/29
<a href='http://125.76.230.133/cast/mp4/time_iptables.mp4'>Linux - 配置基于时间的iptables策略 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/30
<a href='http://125.76.230.133/cast/mp4/30-dd_intro.mp4'>Linux - 使用dd进行磁盘备份 - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/31
<a href='http://125.76.230.133/cast/mp4/31-hashcat.mp4'>Linux - hashcat破解加密密码（Linux用户密码） - www.LinuxCast.net</a><br/>
http://www.linuxcast.net/public/cast_show/32
<a href='http://125.76.230.133/cast/mp4/32-partimage.mp4'>Linux - Linux下的Ghost 使用partimage备份Linux分区数据 - www.LinuxCast.net</a><br/>



{% include post.container.end %}