<!DOCTYPE html>
<html lang="zh-CN" xmlns:wb="http://open.weibo.com/wb">
	<head>
		<title>P_Chou Tech Space</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta property="wb:webmaster" content="fc37c668f0f3fb9d" />
		<meta charset='UTF-8'>
		<!-- Bootstrap -->
	    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="{{ site.baseurl }}/assert/css/custom.css" media="screen">
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.6.2/html5shiv.js"></script>
	      <script src="../../docs-assets/js/respond.min.js"></script>
	    <![endif]-->
	    
	    <script src="https://code.jquery.com/jquery.js"></script>
	    <script src="/assert/js/jquery.scrollloading.js"></script>
	    <script type="text/javascript">
			$(function() {
				$("img").scrollLoading();
			});
		</script>
		<!--google analyse-->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-37440538-1', 'pchou.info');
		  ga('send', 'pageview');

		</script>
		<!-- weibo -->
		<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body style='background-color:#EBEBEB;font-family:"Microsoft YaHei"'>
		<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
			<div class="container">
	    		<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
	      			<a href="/" class="navbar-brand fix-width">P_Chou Tech Space</a>
	    		</div>
			    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			      <ul class="nav navbar-nav">
			      	<li>
			          <a href="{{ site.baseurl }}/index.html">首页</a>
			        </li>
			        <li>
		            	<a class="dropdown-toggle" data-toggle="dropdown" href="#">分类 <span class="caret"></span></a>
					    <ul class="dropdown-menu">
					    	{% for cat in site.categories %}
					    		<li><a href="{{ site.baseurl }}/category.html#{{ cat[0] }}">{{ cat[0] }}</a></li>
					    	{% endfor %}
					    </ul>
			        </li>
			       	<li>
			          <a href="{{ site.baseurl }}/tag.html">标签</a>
			        </li>
			       	<li>
			          <a href="{{ site.baseurl }}/series.html">系列文章<span class="badge" style="background-color:red">2</span></a>
			        </li>
			        <li>
			          <a href="{{ site.baseurl }}/me.html">关于我</a>
			        </li>
			        <li>
			          <a href="{{ site.baseurl }}/rss.xml">RSS</a>
			        </li>			        
			      </ul>
			    </nav>
  			</div>
		</header>

		{{ content }}
		
		<div id='foot' class='container'>
			<p class="text-muted credit">
				Powered by <a href='https://github.com/'>Github</a> <a href='http://jekyllrb.com/'>jekyll</a> <a href="http://www.bootcss.com/">bootstrap</a> <a href="http://glyphicons.com/">Glyphicons</a> <a href="http://disqus.com" class="dsq-brlink">Disqus</a>
			</p>
		</div>

	    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	</body>
</html>
