<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>P_Chou Tech Space</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset='UTF-8'>
		<!-- Bootstrap -->
	    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="{{ site.baseurl }}/assert/css/custom.css" media="screen">
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.6.2/html5shiv.js"></script>
	      <script src="../../docs-assets/js/respond.min.js"></script>
	    <![endif]-->
  		<script src="https://code.jquery.com/jquery.js"></script>
	    <!--google analyse-->
	    <script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37440538-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
			<div class="container">
	    		<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
	      			<a href="/" class="navbar-brand fix-width">{{ page.title }}</a>
	    		</div>
			    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			      <ul class="nav navbar-nav">
			      	<li>
			          <a href="{{ site.baseurl }}/index.html">首页</a>
			        </li>
			        <li>
		            	<a class="dropdown-toggle" data-toggle="dropdown" href="#">分类 <span class="caret"></span></a>
					    <ul class="dropdown-menu">
					    	{% for cat in site.categories %}
					    		<li><a href="{{ site.baseurl }}/category.html#{{ cat[0] }}">{{ cat[0] }}</a></li>
					    	{% endfor %}
					    </ul>
			        </li>
			       	<li>
			          <a href="{{ site.baseurl }}/tag.html">标签</a>
			        </li>
			       	<li>
			          <a href="{{ site.baseurl }}/series.html">系列文章</a>
			        </li>
			        <li>
			          <a href="{{ site.baseurl }}/me.html">关于我</a>
			        </li>
			      </ul>
			    </nav>
  			</div>
		</header>

		<div class="page-header container" style='padding-top:18px;'>
			<code>摘要</code>
		  <small>{{ page.description }}</small>
		</div>

		<div class='container'>
			{{ content }}
			<p><span class="glyphicon glyphicon-paperclip"></span>
			{% for cat in page.categories %}
				<a class="label label-danger" href="{{ site.baseurl }}/category.html#{{ cat }}">{{ cat }}</a>
			{% endfor %}
			</p>
			<p><span class="glyphicon glyphicon-tag"></span>
			{% for tag in page.tags %}
				<a class="label label-info" href="{{ site.baseurl }}/tag.html#{{ tag }}">{{ tag }}</a>
			{% endfor %}
			</p>
		</div>
		<div class='container'>
			<div id="disqus_thread"></div>
			{% include disqus %}
		</div>
	    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	</body>
</html>
