caption {
	text-align: left;
	font-weight: bold;
	font-size: 18px;
}

tr.headers {
	color: #fff;
	background-color: #555;
}

.scan{
	display: none;
	float: right;
	position: relative;
}

.scan span.up,.scan:hover span.down {
	display: none;
}

.scan:hover span.up,.scan:hover .gewm,.scan .gewm:hover{
	display: block;
}


.scan .gewm {
	background-color: #fff;
	display: none;
	position: absolute;
	top: 50px;
	right: 15px;
	width: 165px;
	height: 165px;
	border: 3px solid #FCBF53;
	z-index: 10009;
	padding: 5px;
}


.bs-docs-nav {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #563d7c;
  border-color: #463265;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.bs-docs-nav .navbar-collapse {
  border-color: #463265;
}
.bs-docs-nav .navbar-brand {
  color: #fff;
}
.bs-docs-nav .navbar-nav > li > a {
  color: #cdbfe3;
}
.bs-docs-nav .navbar-nav > li > a:hover {
  color: #fff;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #463265;
}
.bs-docs-nav .navbar-toggle {
  border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}

.home-list .home-list-block{
	margin-top: 10px;
}

span.castname{
		font-size: 18px;
	}
	
.W_ico16{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url("/assert/img/icon.png");
	background-repeat: no-repeat;
	margin: 0 0 0 5px;
}

.icon_sw_movie {
	background-position: -275px -50px;
}

.icon_sw_link {
	background-position: -175px -25px;
}

div#new div{
	border-bottom: #CC50CC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.thumbnail {
	-webkit-box-shadow:1px 1px 1px black;
	-moz-box-shadow:1px 1px 1px black;
	box-shadow:1px 1px 1px black;
}

#foot {
	text-align: center;
}

@media (min-width: 768px) {
	.thumbnail .fix-height {
		height: 160px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (max-width: 767px) {
	.fix-width {
		width: 250px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.thumbnail img {
		display: none;
	}
			
}

.article_comment{
	background: rgba(0, 0, 0, 0) url('../img/icon_comment.gif') no-repeat scroll 0 0;
	padding-left: 18px;
	padding-right: 5px;
	margin-left: 1px;
}

.container .credit{
	margin: 20px 0;
}


/* me */
.me-mod {
	max-width: 820px;
	min-width: 350px; /* same as one img */
	margin: 58px auto;
	padding: 20px 40px;
}

/* fix bootsctrap */
.me-mod a,.me-mod cite {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.me-mod .head {
	height: 220px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	.me-mod .head {
		text-align: center;
		float: none;
	}
}

.me-mod .head img {
	height: 100%;
	border: 1px solid #c21;
}

.me-mod .description {
	font-size: 1.2em;
	text-indent: 2em;
	margin-bottom: 5px;
}


.me-mod .social * {
	display: inline-block;
	vertical-align: top;
}

.me-mod .social .gmail{
	height: 30px;
	width: 30px;
	padding-top: 2px;
}

.me-mod .social .gmail img {
	height: 60%;
}

.me-mod h4{
	margin-top: 20px;
	font-weight: bold;
}

.me-mod .books {
	border-top: 2px solid #c21;
	padding-top: 20px;
	text-align: center;
	font-weight: bold;
	color: #555;
}


@media (min-width: 993px) {
	.me-mod .book {
		height: 305px;
	}
	.scan {
		display: block;
	}
}

@media (min-width: 768px) and (max-width: 992px)  {
	.me-mod .book {
		height: 390px;
	}
}


.me-mod .book img {
	width: 100%;
	max-width: 350px;
	margin-bottom: 5px;
}

/* http://www.lesscss.org/ 语法高亮 */

#_52de149d84a8f pre code {
  -font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace !important;
  background-color: #262626;
  display: block;
  color: #ebefe7;
  padding: 0.5em;
}
#_52de149d84a8f pre code .string,
#_52de149d84a8f pre code .regexp {
  color: #3d575c;
}
#_52de149d84a8f pre code .comment {
  color: rgba(255, 255, 255, 0.5);
}
#_52de149d84a8f pre code .number {
  color: #ae81ff;
}
#_52de149d84a8f pre code .class,
#_52de149d84a8f pre code .special,
#_52de149d84a8f pre code .mixin {
  color: #a6e22e;
}


#_52de149d84a8f pre code .attribute,
#_52de149d84a8f pre code .keyword {
  color: #66d9ef;
}
#_52de149d84a8f pre code .variable {
  color: #fff;
}
#_52de149d84a8f pre code .element {
  color: #669991;
}

#_52de149d84a8f pre code .id {
  color: #c2b470;
  font-weight: normal;
}
#_52de149d84a8f pre .color {
  color: #b35e4d;
}
#_52de149d84a8f pre #time {
  color: #aaaaaa;
}