@charset "UTF-8";
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

@font-face {
  font-family: 'iconfont';
  src: url("http://at.alicdn.com/t/font_1394176362_4908102.eot");
  /* IE9*/
  src: url("http://at.alicdn.com/t/font_1394176362_4908102.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/font_1394176362_5235853.woff") format("woff"), url("http://at.alicdn.com/t/font_1394176362_4624262.ttf") format("truetype"), url("http://at.alicdn.com/t/font_1394176362_5612473.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

body {
  font-family: 'Microsoft YaHei','Lato', Calibri, Arial, sans-serif;
  color: #333333;
  background-color: #eeeeee; }

p {
  line-height: 1.8em;
  text-indent: 2em; }

a {
  color: #428bca;
  text-decoration: none; }

a:hover {
  color: #2a6496;
  text-decoration: underline; }

code, pre {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace; }

pre, pre code {
  white-space: pre-wrap; }

code {
  padding: 2px 5px;
  font-size: 90%;
  color: #ff6138;
  white-space: nowrap;
  background-color: #FFFF9D;
  font-weight: bold; }

blockquote {
  background-color: #00A388;
  border: 1px solid #00705d;
  padding: 1em;
  color: #fff;
  line-height: 1.8em; }
  blockquote a {
    color: #FFFF9D; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  background-color: transparent; }

small {
  font-size: 85%; }

.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal; }

.main,
.container > header {
  width: 80%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em 1em 1.875em; }

.container > header {
  padding: 2.875em 1.875em 1.875em; }
  .container > header h1 {
    font-size: 2.5em;
    margin: 0 0 0.6em 0;
    float: left;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    color: #ff6138; }
  .container > header nav {
    float: right;
    text-align: center; }
    .container > header nav a {
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 2.5em;
      height: 2.5em;
      margin: 0 0.1em;
      text-decoration: none; }
      .container > header nav a:hover > i {
        color: #ffb29e; }
    .container > header nav a > i {
      font-size: 32px;
      color: #ff6138; }

foot {
  display: block;
  background-color: #333;
  color: #fff;
  padding: 1em; }

#qcode:hover .gewm {
  display: block; }

.gewm {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 40px;
  right: 12px;
  width: 165px;
  height: 165px;
  border: 3px solid #FF6138;
  z-index: 10009;
  padding: 5px; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

@media screen and (max-width: 55em) {
  .main,
  .container > header, .container title {
    width: 100%; }

  #qcode {
    display: none; }

  .container > header h1,
  .container > header nav {
    float: none; }

  .container > header > span,
  .container > header h1 {
    text-align: center; }

  .container > header nav {
    margin: 0 auto; }

  .container > header > span {
    text-indent: 30px; } }
body {
  background-color: #333333;
  color: #aaaaaa;
  margin: 0px;
  font-family: 'Microsoft YaHei'; }

.clear {
  clear: both; }

.left-container {
  float: left;
  width: 35%; }
  .left-container .mini-collapse {
    display: none; }
  .left-container > div {
    color: #aaaaaa;
    padding: 0px 50px; }
    .left-container > div .navigator {
      font-family: 'iconfont';
      text-align: center; }
      .left-container > div .navigator a {
        padding: 10px;
        display: inline-block;
        border-radius: 50% 50% 50% 50%;
        color: #aaaaaa;
        border: 1px solid #000;
        box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
        text-decoration: none; }
        .left-container > div .navigator a:focus, .left-container > div .navigator a:hover {
          color: white; }
    .left-container > div .logo {
      text-align: center;
      padding: 20px 0px; }
    .left-container > div .category {
      padding: 20px 0px; }
      .left-container > div .category:before {
        content: "分类";
        display: block;
        font-weight: bold;
        color: #fff; }
      .left-container > div .category ul {
        list-style: none;
        margin: 0;
        -webkit-padding-start: 0px; }
        .left-container > div .category ul li {
          border-bottom: 1px solid #aaaaaa;
          height: 50px;
          color: #aaaaaa; }
          .left-container > div .category ul li a {
            display: block;
            line-height: 50px;
            text-decoration: none;
            color: #aaaaaa;
            width: 100%; }
            .left-container > div .category ul li a:hover, .left-container > div .category ul li a:focus {
              color: #fff; }
              .left-container > div .category ul li a:hover span, .left-container > div .category ul li a:focus span {
                border: 1px solid #fff; }
            .left-container > div .category ul li a span {
              display: inline-block;
              float: right;
              border: 1px solid #aaaaaa;
              border-radius: 15px 15px 15px 15px;
              padding: 0px 8px;
              line-height: 20px;
              margin-top: 15px; }
    .left-container > div .tags {
      padding: 20px 0px; }
      .left-container > div .tags:before {
        content: "标签云";
        display: block;
        font-weight: bold;
        color: #fff; }
      .left-container > div .tags a {
        color: #aaaaaa;
        display: inline;
        vertical-align: bottom;
        border: none;
        box-shadow: none; }
        .left-container > div .tags a:focus, .left-container > div .tags a:hover {
          text-decoration: underline;
          color: white; }
    .left-container > div .foot {
      text-align: center;
      padding: 20px 0px; }
      .left-container > div .foot a {
        color: #aaaaaa;
        text-decoration: none; }
        .left-container > div .foot a:focus, .left-container > div .foot a:hover {
          color: white; }

.right-container {
  float: left;
  width: 63%;
  background-color: #eeeeee;
  color: #333333; }
  .right-container .post-list .post-item:nth-child(odd) {
    box-shadow: inset 0 1px 10px rgba(163, 159, 159, 0.3), 0 1px 0 rgba(107, 107, 107, 0.1), 0 -1px 0px rgba(131, 131, 131, 0.5); }
  .right-container .post-list .post-item > div {
    padding: 20px 0px;
    width: 70%;
    margin: 0 auto; }
    .right-container .post-list .post-item > div h1 a {
      color: #333333; }
    .right-container .post-list .post-item > div p {
      width: 70%;
      vertical-align: top; }
    .right-container .post-list .post-item > div img {
      width: 15%;
      vertical-align: top; }
    .right-container .post-list .post-item > div .inline-block {
      display: inline-block;
      margin-right: 20px; }
    .right-container .post-list .post-item > div category {
      display: inline-block;
      padding: 5px 10px;
      margin-right: 5px;
      background-color: #d55400;
      color: #eeeeee;
      cursor: pointer; }
      .right-container .post-list .post-item > div category:hover, .right-container .post-list .post-item > div category:focus {
        background-color: #ff6a09; }
    .right-container .post-list .post-item > div .readmore {
      font-size: 125%;
      display: block;
      margin-top: 15px;
      text-decoration: none;
      color: #d55400; }
      .right-container .post-list .post-item > div .readmore:hover, .right-container .post-list .post-item > div .readmore:focus {
        color: #ff6a09; }

@media (max-width: 768px) {
  .left-container {
    float: left;
    width: 100%;
    position: relative; }
    .left-container > div {
      overflow: hidden;
      height: auto; }
    .left-container .mini-collapse {
      position: relative;
      display: block; }
      .left-container .mini-collapse h3 {
        float: left; }
      .left-container .mini-collapse a {
        font-family: 'iconfont';
        float: right;
        display: block;
        font-size: 30px;
        color: #aaaaaa;
        text-decoration: none;
        padding: 15px; }
      .left-container .mini-collapse a.active {
        background-color: black;
        color: white; }
    .left-container .collapse {
      display: none; }

  .right-container {
    float: left;
    width: 100%;
    height: auto;
    overflow: hidden; } }
.right-container .post {
  padding: 30px 10px;
  margin: 0 auto;
  width: 70%; }
  .right-container .post description {
    color: #aaaaaa;
    margin: 20px 0px 50px 0px;
    display: block; }
  .right-container .post .content h1, .right-container .post .content h2, .right-container .post .content h3, .right-container .post .content h4, .right-container .post .content h5 {
    border-left: 5px solid #d55400;
    padding-left: 20px; }
  .right-container .post h1 {
    margin: 0px; }
  .right-container .post .date {
    float: right;
    margin-top: 30px; }
  .right-container .post category {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #d55400;
    color: #eeeeee;
    cursor: pointer; }
    .right-container .post category:hover, .right-container .post category:focus {
      background-color: #ff6a09; }

#_52de149d84a8f pre code {
  -font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace !important;
  background-color: #262626;
  display: block;
  color: #ebefe7;
  padding: 0.5em; }

#_52de149d84a8f pre code .string,
#_52de149d84a8f pre code .regexp {
  color: #3d575c; }

#_52de149d84a8f pre code .comment {
  color: rgba(255, 255, 255, 0.5); }

#_52de149d84a8f pre code .number {
  color: #ae81ff; }

#_52de149d84a8f pre code .class,
#_52de149d84a8f pre code .special,
#_52de149d84a8f pre code .mixin {
  color: #a6e22e; }

#_52de149d84a8f pre code .attribute,
#_52de149d84a8f pre code .keyword {
  color: #66d9ef; }

#_52de149d84a8f pre code .variable {
  color: #fff; }

#_52de149d84a8f pre code .element {
  color: #669991; }

#_52de149d84a8f pre code .id {
  color: #c2b470;
  font-weight: normal; }

#_52de149d84a8f pre .color {
  color: #b35e4d; }

#_52de149d84a8f pre #time {
  color: #aaaaaa; }

.pointer {
  cursor: pointer; }
