*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

@font-face {
  font-family: 'iconfont';
  src: url("http://at.alicdn.com/t/font_1394176362_4908102.eot");
  /* IE9*/
  src: url("http://at.alicdn.com/t/font_1394176362_4908102.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/font_1394176362_5235853.woff") format("woff"), url("http://at.alicdn.com/t/font_1394176362_4624262.ttf") format("truetype"), url("http://at.alicdn.com/t/font_1394176362_5612473.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

body {
  font-family: 'Microsoft YaHei','Lato', Calibri, Arial, sans-serif;
  color: #333333;
  background-color: #eeeeee; }

p {
  line-height: 1.8em;
  text-indent: 2em; }

a {
  color: #428bca;
  text-decoration: none; }

a:hover {
  color: #2a6496;
  text-decoration: underline; }

code, pre {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace; }

pre, pre code {
  white-space: pre-wrap; }

code {
  padding: 2px 5px;
  font-size: 90%;
  color: #ff6138;
  white-space: nowrap;
  background-color: #FFFF9D;
  font-weight: bold; }

blockquote {
  background-color: #00A388;
  border: 1px solid #00705d;
  padding: 1em;
  color: #fff;
  line-height: 1.8em; }
  blockquote a {
    color: #FFFF9D; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  background-color: transparent; }

small {
  font-size: 85%; }

.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal; }

.main,
.container > header {
  width: 80%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em 1em 1.875em; }

.container > header {
  padding: 2.875em 1.875em 1.875em; }
  .container > header h1 {
    font-size: 2.5em;
    margin: 0 0 0.6em 0;
    float: left;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    color: #ff6138; }
  .container > header nav {
    float: right;
    text-align: center; }
    .container > header nav a {
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 2.5em;
      height: 2.5em;
      margin: 0 0.1em;
      text-decoration: none; }
      .container > header nav a:hover > i {
        color: #ffb29e; }
    .container > header nav a > i {
      font-size: 32px;
      color: #ff6138; }

foot {
  display: block;
  background-color: #333;
  color: #fff;
  padding: 1em; }

#qcode:hover .gewm {
  display: block; }

.gewm {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 40px;
  right: 12px;
  width: 165px;
  height: 165px;
  border: 3px solid #FF6138;
  z-index: 10009;
  padding: 5px; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

@media screen and (max-width: 55em) {
  .main,
  .container > header, .container title {
    width: 100%; }

  #qcode {
    display: none; }

  .container > header h1,
  .container > header nav {
    float: none; }

  .container > header > span,
  .container > header h1 {
    text-align: center; }

  .container > header nav {
    margin: 0 auto; }

  .container > header > span {
    text-indent: 30px; } }
.cbp_tmtimeline {
  padding: 0;
  list-style: none;
  position: relative;
  /* The line */ }
  .cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #4b4b4b;
    left: 15%;
    margin-left: -10px; }

/* The date/time */
.cbp_tmtimeline > li {
  position: relative;
  padding-top: 50px;
  /* Right content */
  /* The icons */
  /* thumb img */ }
  .cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 20%;
    padding-right: 100px;
    position: absolute; }
    .cbp_tmtimeline > li .cbp_tmtime span {
      display: block;
      text-align: right; }
      .cbp_tmtimeline > li .cbp_tmtime span:first-child {
        font-size: 0.9em;
        color: #a7a7a7; }
      .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 2em;
        color: #00a388; }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #79BD8F; }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #6ABD85; }
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
      border-right-color: #6ABD85; }
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 19%;
    background: #00A388;
    color: #fff;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    /* The triangle */ }
    .cbp_tmtimeline > li .cbp_tmlabel h2 {
      margin-top: 0px;
      padding: 0 0 10px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
      .cbp_tmtimeline > li .cbp_tmlabel h2 a {
        color: #FFFF9D; }
        .cbp_tmtimeline > li .cbp_tmlabel h2 a::hover {
          color: #FFFF9D; }
    .cbp_tmtimeline > li .cbp_tmlabel:after {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-right-color: #00A388;
      border-width: 10px;
      top: 10px; }
  .cbp_tmtimeline > li .cbp_tmicon {
    width: 24px;
    height: 24px;
    position: absolute;
    background: #eeeeee;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #4b4b4b;
    left: 15%;
    top: 58px;
    margin: 0 0 0 -17px; }
  .cbp_tmtimeline > li img {
    height: 150px;
    position: absolute;
    right: 10px;
    top: 0; }

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em; } }
@media screen and (max-width: 47.2em) {
  .cbp_tmtimeline:before {
    display: none; }

  .cbp_tmtimeline > li {
    padding-top: 0px; }
    .cbp_tmtimeline > li .cbp_tmtime {
      width: 100%;
      position: relative;
      padding: 0 0 20px 0; }
    .cbp_tmtimeline > li .cbp_tmtime span {
      text-align: left;
      display: inline; }
    .cbp_tmtimeline > li .cbp_tmlabel {
      margin: 0 0 30px 0;
      padding: 1em;
      font-weight: 400;
      font-size: 95%; }
    .cbp_tmtimeline > li .cbp_tmlabel:after {
      right: auto;
      left: 20px;
      border-right-color: transparent;
      border-bottom-color: #00A388;
      top: -20px; }
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
      border-right-color: transparent;
      border-bottom-color: #79BD8F; }
    .cbp_tmtimeline > li .cbp_tmicon {
      display: none; }
    .cbp_tmtimeline > li img {
      height: 60px;
      position: absolute;
      right: 0px;
      top: 0px; } }
/* General styles for all menus */
.cbp-spmenu {
  background: #4f4f4f;
  position: fixed;
  overflow-y: scroll; }

.cbp-spmenu h3 {
  color: #fff;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #FF6138; }

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300; }

.cbp-spmenu a:hover {
  background: #258ecd; }

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da; }

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 250px;
  height: 100%;
  top: 0;
  z-index: 1000; }

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #222;
  padding: 1em; }

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
  left: -250px; }

.cbp-spmenu-right {
  right: -250px; }

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px; }

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px; }

/* Push classes applied to the body */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.cbp-spmenu-push-toright {
  left: 240px; }

.cbp-spmenu-push-toleft {
  left: -240px; }

/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* Example media queries */
@media screen and (max-width: 47.2em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 150px; }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -150px; }

  .cbp-spmenu-right {
    right: -150px; }

  .cbp-spmenu-push-toright {
    left: 150px; } }
title {
  font-size: 2.5em;
  color: #ff6138;
  display: block;
  width: 80%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em 1em 1.875em; }

.maincontent h1, .maincontent h2, .maincontent h3, .maincontent h4 {
  padding-left: 20px;
  border-left: 5px solid #FF6138; }
.maincontent .description {
  padding-bottom: 25px;
  text-indent: 0; }
.maincontent .lable-bar {
  padding: 0.2em 0; }
  .maincontent .lable-bar > i {
    font-size: 28px;
    color: #ff6138;
    vertical-align: middle; }
  .maincontent .lable-bar .previous, .maincontent .lable-bar .next {
    display: block;
    margin: 10px 0px;
    font-size: 80%; }
.maincontent .label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-decoration: none; }
.maincontent .label-cat {
  background-color: #00A388; }
  .maincontent .label-cat:hover, .maincontent .label-cat:focus {
    background-color: #00705d; }
.maincontent .label-tag {
  background-color: #31b0d5; }
  .maincontent .label-tag:hover, .maincontent .label-tag:focus {
    background-color: #2490af; }
.maincontent .table {
  width: 100%;
  margin-bottom: 20px; }
  .maincontent .table thead > tr > th, .maincontent .table tbody > tr > th, .maincontent .table tfoot > tr > th, .maincontent .table thead > tr > td, .maincontent .table tbody > tr > td, .maincontent .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd; }
.maincontent .table-bordered {
  border: 1px solid #ddd; }
  .maincontent .table-bordered thead > tr > th, .maincontent .table-bordered tbody > tr > th, .maincontent .table-bordered tfoot > tr > th, .maincontent .table-bordered thead > tr > td, .maincontent .table-bordered tbody > tr > td, .maincontent .table-bordered tfoot > tr > td {
    border: 1px solid #ddd; }
.maincontent table caption {
  text-align: left;
  font-weight: bold;
  font-size: 18px; }

@media screen and (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #ddd; } }
#_52de149d84a8f pre code {
  -font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace !important;
  background-color: #262626;
  display: block;
  color: #ebefe7;
  padding: 0.5em; }

#_52de149d84a8f pre code .string,
#_52de149d84a8f pre code .regexp {
  color: #3d575c; }

#_52de149d84a8f pre code .comment {
  color: rgba(255, 255, 255, 0.5); }

#_52de149d84a8f pre code .number {
  color: #ae81ff; }

#_52de149d84a8f pre code .class,
#_52de149d84a8f pre code .special,
#_52de149d84a8f pre code .mixin {
  color: #a6e22e; }

#_52de149d84a8f pre code .attribute,
#_52de149d84a8f pre code .keyword {
  color: #66d9ef; }

#_52de149d84a8f pre code .variable {
  color: #fff; }

#_52de149d84a8f pre code .element {
  color: #669991; }

#_52de149d84a8f pre code .id {
  color: #c2b470;
  font-weight: normal; }

#_52de149d84a8f pre .color {
  color: #b35e4d; }

#_52de149d84a8f pre #time {
  color: #aaaaaa; }

.pointer {
  cursor: pointer; }
